<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>エンジニアスカウター - ITエンジニアの戦闘力計測サイト</title>
    <meta name="description" content="Qiitaでのアウトプットに基づいて、ITエンジニアの戦闘力をランキング化するサービスです。自分の戦闘力を知ることも可能です。">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>
  <body>
    <div id="app"></div>

    <% if (htmlWebpackPlugin.options.isProduction) { %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.gaCode %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= htmlWebpackPlugin.options.gaCode %>');
    </script>
    <% } %>

  </body>
</html>
